.primary {
  background-color: #E29933;
  color: #fff;
  padding: 8px 22px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #E29933;
  cursor: pointer;
}

.secondary { 
  background-color: #fff;
  color: #E29933;
  border: 1px solid #E29933;
  padding: 8px 22px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #E29933;
  }  
}
